/* style.css */

body {
  font-family: Arial, sans-serif;
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.Form {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.title h2 {
  margin: 0;
  color: #333;
}

.title hr {
  border: 1px solid #f2f2f2;
}

input[type="text"], input[type="email"], textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="radio"] {
  margin-right: 10px;
}

h3 {
  color: #666;
}

textarea {
  height: 100px;
}

button {
  background: rgb(240,121,173);
  background: radial-gradient(circle, rgba(240,121,173,1) 0%, rgba(221,230,17,1) 100%);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: rgb(240,121,173);
  background: radial-gradient(circle, rgba(240,121,173,0.15730042016806722) 0%, rgba(221,230,17,1) 100%);
}

button img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-left: 5px;
}

p {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  color: gray;
}
